<!-- FACT CARDS COMPONENT -->
<div class="fact-cards">

    <div class="fact-card">
        <h4>🌴 Island Nation</h4>
        <p>Sri Lanka is a tropical island located in the Indian Ocean, south of India.</p>
    </div>

    <div class="fact-card">
        <h4>🐘 Wildlife Hotspot</h4>
        <p>Sri Lanka has one of the highest densities of wild elephants in Asia.</p>
    </div>

    <div class="fact-card">
        <h4>🏖️ Year-Round Beaches</h4>
        <p>You can enjoy beaches all year by switching between east and west coasts.</p>
    </div>

</div>
