<nav class="navbar">
            <div class="nav-container">

                <!-- LOGO -->
                <div class="logo">
                    <a href="#">
                        <img src="../Source/img/logo.png" alt="CeylonLove Logo">
                    </a>
                </div>

                <!-- Hamburger -->
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <!-- NAV LINKS -->
                <ul class="nav-links" id="navLinks">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../destinations.html">Destinations</a></li>
                    <li><a href="../culture.html">Culture</a></li>
                    <li><a href="../AboutUs.html">About Us</a></li>
                    <li><a href="../contact.html">Contact Us</a></li>
                </ul>

            </div>
        </nav>